{% extends "algopedia/base.html" %}
{% block content %}

<div class="container">
<h4>Algorithme :: {{ object.name }}</h4>

<h5>Categories:</h5>
<ul class="categories">
{% for cat in object.category.all %}
    <li><a href="{% url 'algopedia:category-detail' cat.pk %}" class="label label-primary">{{ cat.name }}</a></li>
{% endfor %}
</ul>

<hr>

<h5>Description:</h5>
{{ object.description }}

<hr>

<h5>Implementations:</h5>
<p>
    <a href="{% url 'algopedia:implementation-create' object.pk %}" class="btn btn-default">Add mine</a>
</p>
<div class="modal fade" id="modal_implementation_detail" tabindex="-1" role="dialog" aria-labelledby="modal_implementation_detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title" id="modal_implementation_detail_label">{{ object.name }}
                    in <span class="modal-title-lang"></span>
                    by <span class="modal-title-user"></span>
                </h6>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<table class="table table-striped ">
    <tr>
        <th>Language</th><th>Author</th><th>Actions</th>
        {% if user.is_authenticated %}
            <th>Stars</th>
        {% endif %}
    </tr>
    {% for implem in implementations %}
        <tr>
            <td>{{ implem.lang.name }}</td>
            <td>{{ implem.user }}</td>
            <td>
                <a href="{% url 'algopedia:implementation-detail' implem.pk %}" class="implementation-detail-link"
                    data-remote="false"
                    data-implementation-id="{{ implem.pk }}"
                    data-implementation-user="{{ implem.user }}"
                    data-implementation-lang="{{ implem.lang }}"
                    data-toggle="modal" data-target="#modal_implementation_detail">See <span class="glyphicon glyphicon-search"></span></a>
                <a href="{% url 'algopedia:implementation-detail' implem.pk %}" > | More <span class="glyphicon glyphicon-zoom-in"></span></a>
                <a href="{% url 'algopedia:implementation-edit' implem.pk %}">
                {% if implem.user.pk = user.pk %}
                     | Edit <span class="glyphicon glyphicon-wrench"></span>
                {% else %}
                     | Fork <span class="glyphicon glyphicon-random"></span>
                {% endif %}
                </a>
            </td>
            {% if user.is_authenticated %}
                <td><input type="checkbox" name="star_{{ implem.pk }}" {% if implem.pk in stars %}checked="checked" {% endif %}/></td>
            {% endif %}
        </tr>
    {% empty %}
         <tr>
             <td colspan="2" style="text-align: center">There are no codes submitted yet !</td>
             <td><a href="{% url 'algopedia:implementation-create' object.pk %}" class="btn btn-xs btn-default">Add mine</a></td>
             {% if user.is_authenticated %}<td></td>{% endif %}
         </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
