{% extends "algopedia/base.html" %}
{% block content %}

<h1>{% block main_title %}Liste des algorithmes{% endblock %}</h1>
<ul>
{% for object in object_list %}
    <li>
        <a href="{% url 'algopedia:algo-detail' object.pk %}">{{ object.name }}</a>
        Categories :
        <ul>
        {% for category in object.category.all %}
          <li><a href="{% url 'algopedia:category-detail' category.pk %}">{{ category.name}}</a></li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
