{% load staticfiles %}<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'algopedia/css/style.css' %}" /> 
</head>
<body>
<div class="container">
{% if request.user.is_authenticated %}
    Hello {{ request.user.username }}
{% endif %}
{% block content %}
{% endblock %}
</div>
<footer>
    <div class="container">
        <ul>
        {% for cat in categories %}
            <li><a href="{% url 'algopedia:category-detail' cat.pk %}"{% if cat.pk in categories_current %} class="active"{% endif %}>{{ cat.name }}</a> ({{ cat.num }})</li>
        {% endfor %}
        </ul>
    </div>
</footer>
</body>
</html>
