{% load staticfiles %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}

    <title>{% block title %}{{ title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'algopedia/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'algopedia/css/ct-paper.css' %}">
    <link rel="stylesheet" href="{% static 'algopedia/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'algopedia/css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'algopedia/css/pygments.css' %}">
    {# HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries #}
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
</head>
<body>
{% url 'algopedia:algo-list' as url_algo_list %}
{% url 'algopedia:category-list' as url_category_list %}
{% url 'algopedia:user-profile' as url_user_profile %}
<header>
    <nav class="navbar navbar-ct-danger navbar-static-top">
        <div class="container">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-header" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand{% if request.path = '/' %} active{% endif %}">Algopedia</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-header">
                    <ul class="nav navbar-nav">
                        <li{% if request.path = url_algo_list %} class="active"{% endif %}>
                            <a href="{% url 'algopedia:algo-list' %}">Algorithms</a>
                        </li>
                        <li{% if request.path = url_category_list %} class="active"{% endif %}>
                            <a href="{% url 'algopedia:category-list' %}">Categories</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li{% if request.path = url_user_stars %} class="active"{% endif %}>
                            <a href="{% url 'algopedia:user-profile' %}">Profile</a>
                        </li>
                        <li><a href="{% url 'account_logout' %}">Logout ({{ request.user.username }})</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}?next={{ request.path|urlencode }}">Login</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="col-xs-12 col-md-8">
            <h3>Categories :</h3>
            <ul class="categories">
            {% for cat in categories %}
                <li><a href="{% url 'algopedia:category-detail' cat.pk %}" class="label {% if cat.pk in categories_current %}label-primary{% else %}label-default{% endif %}">{{ cat.name }} ({{ cat.num }})</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <h3>Links</h3>
            <ul>
                <li><a href="http://tryalgo.org">Tryalgo</a>
            </ul>
        </div>
    </div>
</footer>
{# Bootstrap core JavaScript #}
{# Placed at the end of the document so the pages load faster #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'algopedia/js/jquery.min.js' %}"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{# IE10 viewport hack for Surface/desktop Windows 8 bug #}
<script src="{% static 'algopedia/js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'algopedia/js/script.js' %}"></script>
</body>
</html>
