{% extends "algopedia/base.html" %}

{% block content %}



<div class="container">
<h4 class="text-primary">List of the categories</h4>
<ul id="menu">
{% for object in object_list %}
    <li>
        <div class="menu" id="menu{{ forloop.counter }}" onclick="afficheMenu(this,{{ object_list|length }})">
            <a href="#">{{ object.name }} ({{ object.num }})</a>
        </div>
        <ul>
        <div id="sousmenu{{ forloop.counter }}" style="display:none">
            {% for algo in algos %}
                <div class="sousmenu">
                {% if object in algo.category.all %}
                    <li><a href="{% url 'algopedia:algo-detail' algo.pk %}">{{ algo }}</a></li>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        </ul>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}
