{% extends "algopedia/base.html" %}

{% block content %}

<div class="container">
<h4 class="text-primary">List of the categories</h4>

<div class="panel-group" id="cat_accordion" role="tablist" aria-multiselectable="true">
{% for object in object_list %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="cat_heading_{{ object.pk }}">
            <h3 class="panel-title">
              <a class="glyphicon glyphicon-plus" role="button" data-toggle="collapse" href="#cat_collapse_{{ object.pk }}" aria-expanded="true" aria-controls="cat_collapse_{{ object.pk }}"></a>
              <a href="{% url 'algopedia:category-detail' object.pk %}">{{ object.name }}</a> ({{ object.num }})
            </h3>
        </div>
        <div id="cat_collapse_{{ object.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cat_heading_{{ object.pk }}">
            <div class="panel-body">
                <ul>
                {% for algo in algos %}
                    {% if object in algo.category.all %}
                        <li><a href="{% url 'algopedia:algo-detail' algo.pk %}">{{ algo }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>

</div>
{% endblock %}
