{% extends "algopedia/base.html" %}
{% block content %}

<div class="alert alert-info landing-alert">
  <div class="container text-center">
    <h5>Still in dev!</h5>
  </div>
</div>

<div class="wrapper">
  <div class="main">
    <div class="section text-center landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Let's learn algorithms!</h2>
            <h5>
              On algopedia you can test, compare, learn new algorithms. 
              Featuring a powerfull notebook creator !
            </h5>  
            <br />
            <a href="#" class="btn btn-danger btn-fill">See Details</a>
          </div>
        </div>
      </div>
    </div>  

    <div class="section section-light-brown landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 column">
            <h4>Code</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna libero, aliquam ut tincidunt quis, malesuada ut ipsum. Praesent sodales fringilla faucibus. Nam odio dui, porta ac blandit luctus, mi.</p>
            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
          </div>
          <div class="col-md-4 column">
            <h4>Compare</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna libero, aliquam ut tincidunt quis, malesuada ut ipsum. Praesent sodales fringilla faucibus. Nam odio dui, porta ac blandit luctus,mi.</p>
            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
          </div>
          <div class="col-md-4 column">
            <h4>Rate</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna libero, aliquam ut tincidunt quis, malesuada ut ipsum. Praesent sodales fringilla faucibus. Nam odio dui, porta ac blandit luctus, .</p>
            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <input class="form-control" placeholder="Name">
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <input class="form-control" placeholder="Email">
                </div>
              </div>
              <label>Message</label>
              <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
              <br>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <button class="btn btn-danger btn-block btn-sm btn-fill">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>     
</div>

{% endblock %}

