{% load algopedia_tags %}
<ul>
    <li>Algorithm: <a href="{% url 'algopedia:algo-detail' implem.algo.pk %}">{{ implem.algo.current_revision.title }}</a></li>
    <li>Author: {{ implem.user }}</li>
    <li>Language: {{ implem.lang }}</li>
    <li>Date: {{ implem.date }}</li>
    {% if implem.parent %}
        <li>
            Parent: <a href="{% url 'algopedia:implementation-detail' implem.parent.pk %}">code by {{ implem.parent.user }} on {{ implem.parent.date }}</a>
            (<a href="{% url 'algopedia:implementation-diff' implem.parent.pk implem.pk %}">diff</a>)
        </li>
    {% endif %}
    {% if user.is_authenticated %}
        <li>Starred: {% checkbox_star implem.pk %}</li>
    {% endif %}
    <li>
        <a href="{% url 'algopedia:implementation-edit' implem.pk %}" class="btn btn-xs btn-default">
        {% if implem.user.pk = user.pk %}
            Edit
        {% else %}
            Fork
        {% endif %}
        </a>
    </li>
</ul>
