<input type="checkbox" class="checkbox_star" name="star_{{ id }}" id="star_{{ id }}" {% if id in stars or stars = True %}checked="checked" {% endif %}/><label for="star_{{ id }}" class="jsonly"></label>
<noscript>
{% if id in stars or stars = True %}
  <a href="{% url 'algopedia:star-redirect' 'remove' id %}?next={{ request.path|urlencode }}" class="glyphicon glyphicon-star"></a>
{% else %}
  <a href="{% url 'algopedia:star-redirect' 'add' id %}?next={{ request.path|urlencode }}" class="glyphicon glyphicon-star-empty"></a>
{% endif %}
</noscript>
