{% extends "algopedia/base.html" %}
{% load algopedia_tags %}
{% block content %}

<div class="container">

{% include 'algopedia/implementation_modal.html' %}

<div class="profile-tabs">
  <div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-first">Home</a></li>
        <li role="presentation"><a href="#implementations" aria-controls="implementations" role="tab" data-toggle="tab">Implementations</a></li>
        <li role="presentation"><a href="#stars" aria-controls="stars" role="tab" data-toggle="tab">Stars</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home">
        <a href="{% url 'algopedia:user-notebook' %}" class="btn btn-primary">Generate a notebook</a>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="implementations">


        <h5>My implementations:</h5>
        <input type="checkbox" id="implem-invisible-checkbox" checked="checked"/><label for="implem-invisible-checkbox">Hide edited implementations</label>
        <table class="table table-striped ">
            <tr>
                <th>Algo</th><th>Language</th><th>Actions</th><th>Date</th><th>Visible</th><th>Starred</th><th>Stars</th>
            </tr>
            {% for implem in implementations %}
                <tr{% if not implem.visible %} class="implem-invisible"{% endif %}>{# In all <td>, <div> is to hide content with #implem-invisible-checkbox #}
                    <td><div><a href="{% url 'algopedia:algo-detail' implem.algo.pk %}">{{ implem.algo.name }}</a></div></td>
                    <td><div>{{ implem.lang.name }}</div></td>
                    <td><div>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" class="implementation-detail-link"
                    data-remote="false"
                    data-implementation-id="{{ implem.pk }}"
                    data-implementation-user="{{ implem.user }}"
                    data-implementation-lang="{{ implem.lang }}"
                    data-toggle="modal" data-target="#modal_implementation_detail">See <span class="glyphicon glyphicon-search"></span></a>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" > | More <span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="{% url 'algopedia:implementation-edit' implem.pk %}">
                             | Edit <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                    </div></td>
                    <td><div>{{ implem.date }}</div></td>
                    <td><div>
                    {% if implem.visible %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphion glyphicon-remove"></span>
                    {% endif %}
                    </div></td>
                    <td><div>{% checkbox_star stars implem.pk %}</div></td>
                    <td class="star_count_{{ implem.pk }}"><div>{{ implem.stars_count }}</div></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center">You have not submitted any code !</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="stars">

        <h5>Starred implementations:</h5>
        <table class="table table-striped">
            <tr>
                <th>Algo</th><th>Language</th><th>Author</th><th>Actions</th><th>Starred</th><!--<th>Stars</th>-->
            </tr>
            {% for star in stars_active %}
            {% with star.implementation as implem %}
                <tr>
                    <td><a href="{% url 'algopedia:algo-detail' implem.algo.pk %}">{{ implem.algo.name }}</a></td>
                    <td>{{ implem.lang.name }}</td>
                    <td>{{ implem.user }}</td>
                    <td>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" class="implementation-detail-link"
                    data-remote="false"
                    data-implementation-id="{{ implem.pk }}"
                    data-implementation-user="{{ implem.user }}"
                    data-implementation-lang="{{ implem.lang }}"
                    data-toggle="modal" data-target="#modal_implementation_detail">See <span class="glyphicon glyphicon-search"></span></a>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" > | More <span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="{% url 'algopedia:implementation-edit' implem.pk %}">
                        {% if implem.user.pk = user.pk %}
                             | Edit <span class="glyphicon glyphicon-wrench"></span>
                        {% else %}
                             | Fork <span class="glyphicon glyphicon-random"></span>
                        {% endif %}
                        </a>
                    </td>
                    <td>{% checkbox_star True implem.pk %}</td>
                    <!--<td class="star_count_{{ implem.pk }}">{{ implem.stars_count }}</td>-->
                </tr>
            {% endwith %}
            {% empty %}
                 <tr>
                     <td colspan="5" style="text-align: center">You don't have any starred implementation yet.</td>
                 </tr>
            {% endfor %}
        </table>

        <h5>Previously starred implementations:</h5>
        <table class="table table-striped ">
            <tr>
                <th>Algo</th><th>Language</th><th>Author</th><th>Actions</th><th>Starred</th><!--<th>Stars</th>-->
            </tr>
            {% for star in stars_old %}
            {% with star.implementation as implem %}
                <tr>
                    <td><a href="{% url 'algopedia:algo-detail' implem.algo.pk %}">{{ implem.algo.name }}</a></td>
                    <td>{{ implem.lang.name }}</td>
                    <td>{{ implem.user }}</td>
                    <td>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" class="implementation-detail-link"
                    data-remote="false"
                    data-implementation-id="{{ implem.pk }}"
                    data-implementation-user="{{ implem.user }}"
                    data-implementation-lang="{{ implem.lang }}"
                    data-toggle="modal" data-target="#modal_implementation_detail">See <span class="glyphicon glyphicon-search"></span></a>
                        <a href="{% url 'algopedia:implementation-detail' implem.pk %}" > | More <span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="{% url 'algopedia:implementation-edit' implem.pk %}">
                        {% if implem.user.pk = user.pk %}
                             | Edit <span class="glyphicon glyphicon-wrench"></span>
                        {% else %}
                             | Fork <span class="glyphicon glyphicon-random"></span>
                        {% endif %}
                        </a>
                    </td>
                    <td>{% checkbox_star False implem.pk %}</td>
                    <!--<td class="star_count_{{ implem.pk }}">{{ implem.stars_count }}</td>-->
                </tr>
            {% endwith %}
            {% empty %}
                 <tr>
                     <td colspan="5" style="text-align: center">You don't have any previously starred implementation yet.</td>
                 </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}
