.footer {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 20px;
}
.footer h3 {
  font-size: 1.3em;
}
.footer .active {
  text-decoration: underline;
}
ul.categories {
  display: inline-block;
  list-style: none;
  padding: 0;
}
ul.categories li {
  display: inline-block;
  margin: 3px 3px;
}
/* pygments : reset bootstrap style */
.highlighttable pre {
  background-color: transparent;
  border: none;
}
.highlighttable .highlight {
  border-radius: 12px;
}
.highlighttable tr, .highlighttable .code {
  width: 100%;
}
.modal-footer {
  padding: 10px;
}
