.footer {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  margin-top: 30px;
}
.footer h3 {
  font-size: 1.3em;
}
.footer .active {
  text-decoration: underline;
}
ul.categories {
  display: inline-block;
  list-style: none;
  padding: 0;
}
ul.categories li {
  display: inline-block;
  margin: 3px 3px;
}
/* pygments : reset bootstrap style */
.highlighttable pre {
  background-color: transparent;
  border: none;
}
.highlighttable .highlight {
  border-radius: 12px;
}
.highlighttable tr, .highlighttable .code {
  width: 100%;
}
.modal-footer {
  padding: 10px;
}
/* difflib */
table.diff {
  font-family:Courier;
  border:medium;
  background-color: #fdf6e3;
}
.diff_next {
  background-color: #c0c0c0;
}
.diff_add {
  background-color: #aaffaa;
}
.diff_chg {
  background-color: #ffff77;
}
.diff_sub {
  background-color: #ffaaaa;
}
.diff colgroup {
  border: 1px solid black;
}
.diff td {
  padding: 0 5px;
}
td.diff_header {
  background-color: #e0e0e0;
  text-align: right;
  padding: 0 1px;
}
td.diff_next {
  padding: 0 1px;
}
